@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");



* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

section{
  text-align: center;
  background-color: cornflowerblue;
  width: 80%;
  margin: auto;
  color: white;
  border-radius: 8px;
  padding: 20px;
  margin-top: 1.5rem;
}

.Btn{
  margin-top: 10px;
}

.counter h1{
  margin: 8px;
}

button{
  background-color: #fff;
  color: cornflowerblue;
  padding: 4px 8px;
  border: none;
  outline: none;
  font-family: 17px;
  border-radius: 4px;
  margin: 4px;
}

button:hover{
  cursor: pointer;
}

.Navv{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: cornflowerblue;
  color: white;
  padding: 1rem;
}


.welcomebtn{
  background-color: rgb(63, 163, 235);
  color: white;
}

.Liststyle{
  display: flex;
  align-items: center;
 
}

.Liststyle li{
  margin: 0 .5rem;
}

.Welcome{
  text-align: center;
  margin-top: 1rem;
 
}

.Welcome button{
  padding: .5rem;
}