@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");



* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fireNote{
  padding: 20px;
}

.card{
  background-color: cornflowerblue;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.card-ctr{
  padding: 15px 20px;
  margin-top: 20px;
  color: #fff;
}

input{
  width: 60%;
  font-size: 17px;
  padding: 10px 4px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 12px;
}

.submit-btn{
  background-color: rgb(255, 255, 255);
  color: cornflowerblue;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.Nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.Nav .button{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 12px;
  background: cornflowerblue;
  color: #fff;
  cursor: default;
}

.btn{
  background: cornflowerblue;
  outline: none;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.title{
  font-size: 1.5rem;
  color: cornflowerblue;
}

.message{
  color: cornflowerblue;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.error{
  color: red;
  font-size: 18px;
  text-align: center;
}

.Intro{
  text-align: center;
  margin-top: 10px;
}

.Intro h3{
  color: cornflowerblue;
}

.Intro p{color: cornflowerblue;}